//components
@import "components/_fonts";
@import "components/_reset";
@import "components/_iconfont";
@import "components/_colors";
@import "components/_buttons";

.app {
  .intro {
    &__block {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
    &__ico {
      width: 100px;
      margin: 0 auto 30px;
      display: block;
    }
    &__link {
      font-family: $font-bold;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 24px;
      line-height: 1;
      color: #000;
    }
  }
  .auth {

  }
}

//pages


