
@font-face {
  font-family: ico;
src: url("../fonts/ico.eot");
  src: url("../fonts/ico.eot?#iefix") format("embedded-opentype"), url("../fonts/ico.woff2") format("woff2"), url("../fonts/ico.woff") format("woff"), url("../fonts/ico.svg#ico") format("svg");
  font-style: normal;
  font-weight: 400;
}

%ico {
  display: inline-block;
  text-rendering: auto;
  font-family: ico;
  font-style: normal;
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
}

.ico {
  @extend %ico;
}


.ico-close::before { content: "\ea01";  }

.ico-menu::before { content: "\ea02";  }

.ico-next::before { content: "\ea04";  }

.ico-playlist::before { content: "\ea03";  }

.ico-playpause::before { content: "\ea05";  }

.ico-prev::before { content: "\ea06";  }



$ico-close: "\ea01";

$ico-menu: "\ea02";

$ico-next: "\ea04";

$ico-playlist: "\ea03";

$ico-playpause: "\ea05";

$ico-prev: "\ea06";
