.player {
  &__controls {
    width: 440px;
    height: 440px;
    border: 1px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 60px;
    position: relative;
  }
  &__timecircle {
    position: absolute;
    top: -8px;
    left: -8px;
  }
  &__timeline {
    position: absolute;
    top: -1px;
    left: 0;
  }
  &__button {
    position: absolute;
    font-size: 18px;
    transition: color .2s;
    cursor: pointer;
    color: #fff;
    &:hover {
      color: lightgray;
    }
    &_mnu {
      left: 50%;
      top: 22px;
      transform: translateX(-50%);
    }
    &_prev {
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
    }
    &_next {
      right: 12px;
      top: 50%;
      transform: translateY(-50%);
    }
    &_play {
      left: 50%;
      bottom: 22px;
      transform: translateX(-50%);
    }

  }
  &__info {
    text-align: center;
    width: 320px;
    height: 320px;
    border: 1px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__time {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 30px;
  }
  &__name {
    font-size: 18px;
    line-height: 24px;
    font-family: $font-bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 300px;
  }
  &__author {
    font-size: 16px;
    line-height: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 300px;
  }
}