
.profile {
  &__block {
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
    box-sizing: border-box;
    width: 800px;
    padding: 30px;
    margin: 30px auto;
  }
  &__preview {
    width: 160px;
    height: 160px;
  }
  &__upload {
    position: absolute;
    left: 20px;
    bottom: 0;
    transition: transform .2s ease-in-out;
    transform: translateY(40px);
    cursor: pointer;
    &:hover {
      color: $color-purple;
    }
  }
  &__overlay {
    display: inline-block;
    overflow: hidden;
    &:hover {
      & .profile__upload {
        transform: translateX(0);
      }
    }
  }
}